header {
  background: rgba(white, 0.45);
  @include full;
  position:relative;
  z-index: 100;
  // background:white;
  @include display-flex;
  @include justify-content(space-between);
  @include flex-direction(column);
  // @include align-items(center);

  @include breakpoint($medium) {
    @include align-items(center);
  }

  
  span {
    margin-left: -9999px;
  }
  img {
    width:15em;
    @include breakpoint($medium) {
      width: 25em;
    }
    padding:2% 0 0 2%;
  }
}

.landing-page {
    background-color: darken($primary,10%);
  }

// New Nav 
/*BASE CSS STYLE FOR RESPONSIVE MENU*/
/*START*/
.menu{
/*Rev 140508*/
  width:auto;
  min-width:300px;
  height: 45px;
  margin:0 auto;
  position:relative;
  overflow:no-display;
  /**/
  color: $primary;
  // background: white;
}

.menu ul,.menu li{
  margin:0 auto;
  padding:0 0;
  list-style:none;
}
.menu ul{
  height:45px;
  width:100%}
.menu li{
  float:left;
  display:inline;
  position:relative;
}
.menu a {/*main menu*/
  display: block;
  // font-size:120%;
  line-height: 45px;
  padding: 0 14px;
  text-decoration: none;
  color: $primary;
}

.menu li a:hover{
  // color:#fff;
-webkit-transition: all .3s ease-in-out;
-moz-transition: all .3s ease-in-out;
-ms-transition: all .3s ease-in-out;
-o-transition: all .3s ease-in-out;
transition: all .3s ease-in-out;

}
.menu input{display:none;margin:0 0;padding:0 0;width:80px;height:30px;opacity:0;cursor:pointer
}
.menu label{
  font:normal 20px Arial;
  display:none;
  width:35px;
  height:36px;
  line-height:36px;
  text-align:center;
  float:right;
  
}

/*BRAND*/
.menu label span{font-size:80%;position:absolute;left:35px;}
.menu ul.menus{/*SUBMENUS*/
  height: auto;
  overflow: hidden;
  min-width: 220px;
  background: $primary;
  position: absolute;
  z-index: 99;
  display: none;
}
.menu ul.menus li{
display: block;
width: 100%;
text-transform: none;
text-shadow: none;
}

.menu ul.menus a{
// color: #FFF;
line-height: 40px;  /*REV*/
  -webkit-transition: all .6s ease-in-out;
-moz-transition: all .6s ease-in-out;
-ms-transition: all .6s ease-in-out;
-o-transition: all .6s ease-in-out;
transition: all .6s ease-in-out;
}

.menu li:hover ul.menus{display:block;}
.menu ul.menus a:hover{
  
background: lighten( $primary,15%);
color: white;
-webkit-transition: all .1s ease-in-out;
-moz-transition: all .1s ease-in-out;
-ms-transition: all .1s ease-in-out;
-o-transition: all .1s ease-in-out;
transition: all .1s ease-in-out;
}
/*END*/
/*BASE CSS STYLE FOR RESPONSIVE MENU*/
/**/
/*MOBIL VERSION, 0 > 600px*/
@media screen and (max-width: 600px){
  .menu{
    position:relative;
    color:#fff;  
    background:#222;
    border-bottom: 0px solid #222;  
  }

.menu ul{
  top:100%;
  left:0;
  height:auto;
  display:none;
  position:absolute;
  z-index:3;
  background:#555;
  }
.menu ul.menus{
  width:100%;
  position:static;
  padding-left:0px;
}
.menu li{
  width:auto; 
  display:block;
  float:none;
}
.menu input,.menu label{
  margin:0  2%;
  float:right;  
  display:block;  
  position:absolute;
}
.menu input{z-index:4;}
.menu input:checked + label{color:#fff}
.menu input:checked ~ ul{display:block}
}
/*End Media Queries*/
/*End CSS*/

