body, html {
  @include full;
  padding:0;
  font-family: $sans-serif;
  font-weight: 300;
  // background-color: #eee;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

 img {
  width: 100%;
  height: auto;
 }
 ul, li {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    margin-bottom: 2%;
  }
 }
   a {
    color: $link;
    text-decoration: none;

  }

.page-wrap {
   @include full;
}

.main-content {
  @include full;
}

.content {
  @include full;
  margin-top: 5%;
  margin-bottom: 5%;  
}

.content-aside {
  max-width:1280px;
  margin: 0 auto;
  @include display-flex;
}

#lead-in {
  // @include full;
  max-width: 1080px;
  margin:0 auto;
  clear: both;
}
.lead-in-aside {
    max-width: 800px;
  }
  .aside-content {
    max-width: 400px;
    margin: 0 auto;
    clear: both
  }
.lead-in-text {
  margin-bottom: 1.25%;
}
.history.lead-in-text {
   max-width: 800px;
   float: left;
}

aside {
  // max-width: 1280px;
  // margin:0 auto;
  // clear: both;
  video {
    margin-left: 1.25%;
  }
}
#mob-app {
  .content-aside {
    img {
      max-width: 180px;
    }
  }
}
.app-items {
  li {
    margin: 1.5%;
    display: inline-block;
  }
}




