/* Card Images Home Page */

.card-image-waterworks {
  background-image: url("../img/product/valves.jpg");
}
.card-image-fire-protection {
  background-image: url("../img/product/fire-protection.jpg");
}
.card-image-fusion {
  background-image: url("../img/product/rentals.jpg");
}

/* End Home */

/* Career Page */
.card-image-driver {
  background-image: url("../img/careers/driver.jpg");
}
// .card-image-admin {
//   background-image: url("../img/careers/driver.jpg");
// }
.card-image-sales {
  background-image: url("../img/careers/inside-sales.jpg");
}

/* End Career */

/* Products Page Images */
.card-image-backflow {
  background-image: url("../img/product/backflow.jpg");
}
.card-image-cathodic {
  background-image: url("../img/product/cathodic.jpg");
}
.card-image-clamps-couplings {
  background-image: url("../img/product/couplings.jpg");
}
.card-image-drains {
  background-image: url("../img/product/drains.jpg");
}
.card-image-enclosures {
  background-image: url("../img/product/enclosure.jpg");
}
.card-image-fire-protection {
  background-image: url("../img/product/fire-protection.jpg");
}
.card-image-fittings {
  background-image: url("../img/product/sewer-fitting.jpg");
}
.card-image-pe-pipe-fittings {
  background-image: url("../img/product/pe-pipe-fitting.jpg");
}
.card-image-hydrants {
  background-image: url("../img/product/hydrants.jpg");
}
.card-image-manholes {
  background-image: url("../img/product/manhole.jpg");
}
.card-image-meters {
  background-image: url("../img/product/meter.jpg");
}
.card-image-pipe-tube {
  background-image: url("../img/product/blue-pipe.jpg");
}
.card-image-pumps {
  background-image: url("../img/product/pumps.jpg");
}
.card-image-service-brass {
  background-image: url("../img/product/service-saddle.jpg");
}
.card-image-tools {
  background-image: url("../img/product/tools.jpg");
}
.card-image-boxes {
  background-image: url("../img/product/meter-box.jpg");
}
.card-image-valves {
  background-image: url("../img/product/valves.jpg");
}
.card-image-wt {
  background-image: url("../img/product/water-treatment.jpg");
}
.card-image-misc {
  background-image: url("../img/product/misc.jpg");
}


/* Rentals Page */
// .card-image-2lc {
//   background-image: url("../img/rentals/2lc-fusion-machine.jpg");
// }
.card-image-14-pitbull {
  background-image: url("../img/rentals/14 Pitbull.jpg");
}
.card-image-28-rolling {
  background-image: url("../img/rentals/28 rolling.jpg");
}
.card-image-412-rolling {
  background-image: url("../img/rentals/412 rolling.jpg");
}
.card-image-618-rolling {
  background-image: url("../img/rentals/618 rolling.jpg");
}
.card-image-500-tracstar {
  background-image: url("../img/rentals/tracstar 500.jpg");
}
.card-image-630-tracstar {
  background-image: url("../img/rentals/630 TracStar.jpg");
}
.card-image-900-tracstar {
  background-image: url("../img/rentals/tracstar 900.jpg");
}
.card-image-1200-tracstar {
  background-image: url("../img/rentals/1200 TracStar.jpg");
}
.card-image-megamc-1600 {
  background-image: url("../img/rentals/megamc-1600.jpg");
}
.card-image-megamc-1648 {
  background-image: url("../img/rentals/1648series2.jpg");
}
.card-image-polygon {
  background-image: url("../img/rentals/54832pre_f28d55926a3f2b3.jpg");
}
.card-image-socket {
  background-image: url("../img/rentals/socket_largeheaterkit.jpg");
}
.card-image-spider {
  background-image: url("../img/rentals/125spider-s2.jpg");
}
.card-image-hornet {
  background-image: url("../img/rentals/54525scr_fe14e3164137f5e.jpg");
}
.card-image-smartfab {
  background-image: url("../img/rentals/125smartfab.jpg");
}
.card-image-acrobat-160 {
  background-image: url("../img/rentals/160acrobatpremium.jpg");
}
.card-image-acrobat-250 {
  background-image: url("../img/rentals/250acrobat_premium.jpg");
}
.card-image-618-tracstar {
  background-image: url("../img/rentals/618 TracStar.jpg");
}
.card-image-datalogger {
  background-image: url("../img/rentals/datalogger6_wet.jpg");
}
.card-image-pyrometer {
  background-image: url("../img/rentals/Digital Pyrometer.jpg");
}
.card-image-4-deabing {
  background-image: url("../img/rentals/R&L 4 Inch Trimmer Head.jpg");
}
.card-image-diffuser {
  background-image: url("../img/rentals/Diffuser.jpg");
}
.card-image-super-dechlor {
  background-image: url("../img/rentals/Superdechlorinator Kit.png");
}
.card-image-scraper {
  background-image: url("../img/rentals/Ipex FWSG 710 Scraper Tool.jpeg");
}
.card-image-top-loader {
  background-image: url("../img/rentals/Ipex 228053 Top Loading Tool.jpg");
}
.card-image-ef-machine {
  background-image: url("../img/rentals/electro-fusion-machine.jpg");
}
.card-image-gens {
  background-image: url("../img/rentals/Portable Generator.png");
}
.card-image-squeeze-tool {
  background-image: url("../img/rentals/squeeze-off-tool.jpg");
}
.card-image-4-hole-saw {
  background-image: url("../img/rentals/hole saws.jpg");
}
.card-image-testpump {
  background-image: url("../img/rentals/Hydrostatic Test Pump RHTP.jpg");
}


/* Card Images */
.card-image-hdpe-pipe {
  background-image: url("../img/product/hdpe-pipe.jpg");
}
.card-image-mdpe {
  background-image: url("../img/product/mdpe-pipe.jpg");
}
.card-image-equip {
  background-image: url("../img/product/BeadTrimmer_8-24inch.png");
}
.card-image-fusion {
  background-image: url("../img/product/rentals.jpg");
}
.card-image-training {
  background-image: url("../img/training/Medium Diameter Training-2.jpg");
}
.card-image-service {
  background-image: url("../img/product/tech.jpg");
}
.card-image-small-diameter {
  background-image: url("../img/training/small diameter training-3.jpg");
}
.card-image-medium-diameter {
  background-image: url("../img/training/Medium Diameter Training-9.jpg");
}
.card-image-large-diameter {
  background-image: url("../img/training/large-diameter.jpg");
}
.card-image-fusion-inspection {
  background-image: url("../img/training/Inspection Class.jpg");
}






