#job-profiles {
    // #lead-in-text {
    //     padding: 5%;
    // }

    h1 {
        text-align: left;
        line-height: 1.25;
        font-size: 1.75rem;
        margin-bottom: 0;
    }

    h2 {
        font-size: 1.25rem;
    }

    .profile-intro {
        @include full;

        padding: 5%;
        margin-bottom: 2%;

        img {
            float: left;
            width: 100%;

            @include breakpoint($medium) {
                width: 25%;
            }


            margin-right: 5%;
        }
    }
}