.small-training {
	.hero {
		article {
			padding: 10% 0 0 5%;
		}
		h1,h2 {
			font-family: $sans-serif;
			font-weight: 100;
			// color: white;
			text-transform: uppercase;
		}
		h1 {
			@include responsive-typography(24px, 80px, false);
			color: $primary;
			line-height: .85;
			margin-bottom: 0;
		}
		h2 {
			@include responsive-typography(24px, 50px, false);
			color: white;
		}
	}
.grid {
	max-width:1640px;
	margin:0 auto;
	@include display-flex;
	@include flex-direction(row);
	@include flex-wrap(wrap);
	@include justify-content(center);
}
.grid-item {
  margin: 2px;
  width: 420px;

}
  .benifits {
  	@include full;
  	background-color: tint($primary,50%);
    @include display-flex;
    @include flex-direction(column);
    padding: 5%;
    margin-bottom: 20%;
     a {
        color:$link;
      }
    @include breakpoint($medium) {
      @include flex-direction(row);
      @include justify-content(space-between);
      margin-bottom: 0;
    }
    article {
      @include display-flex;
      @include flex-direction(column);
      @include flex(1);
      @include align-items(center);
	  margin: 0 5% 0 0;
     &:nth-child(3) {
     	margin-right: 0;
     } 
    }
    h1  {
      font-family: $sans-serif;
      text-align: center;
      @include responsive-typography(21px, 28px, false);
      line-height: 1.25;
      text-transform: uppercase;
      text-align: center;
      padding-bottom: 5%;
      margin: 0;
    }
    p, 
    li {
      @include responsive-typography(18px, 21px, false);
      font-weight: 100;
      margin: 0;
    }

  }


}