.home {
    background-image: url("../img/hero/sf-arteries.jpg");
    repeat: no-repeat;
    @include background-size(cover);

     .hero {
        max-width: 980px;
        height: 100vh;
        margin: 0 auto;
        color: white;
        text-align:center;
        padding-top: 10%;

        h1 {
            font-family: $sans-thin;
            font-weight: 100;
            margin-bottom: 0;
            @include responsive-typography(31px, 58px, false);
            line-height: .95;

            &:nth-of-type(2) {
                padding-top: 5%;
            }
        }
        h2 {
            margin-bottom: 0;
            @include responsive-typography(28px, 39px);
        }
        span {
            @include responsive-typography(31px, 48px);
        }
    }
}  
/* code for animated blinking cursor */
.typed-cursor{
    opacity: 1;
    font-weight: 100;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    -ms-animation: blink 0.7s infinite;
    -o-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
