.staff {
	.cards {
		@include justify-content(center);
	}
	.cards-item {
		width: 100%;
		@include breakpoint($medium) {
				width: 50%;
			}
			@include breakpoint($large) {
				width: 400px;
				max-width: 400px;
			}
	}
	.card-title {
		text-align: left;
		font-size: 1.5rem;
		color: $primary;
	}
	h2 {
		font-family: $sans-serif;
		font-size: 1.25rem !important;
		color: $black;
		margin-bottom: 0;	
	}
}