.staff {
    .card-image {
        background-position: center;
        background-size: contain;
    }
}

/* Bakersfield */
.card-image-kevin-jr {
    background-image: url("../img/staff/new/kevin-chambers-jr.jpg");
}

.card-image-richard {
    background-image: url("../img/staff/richard.jpg");
}

.card-image-kenny {
    background-image: url("../img/staff/kenny-despot.jpg");
}

.card-image-howard {
    background-image: url("../img/staff/howard.jpg");
}

.card-image-jenny {
    background-image: url("../img/staff/Jenny Ming.jpg");
}

.card-image-taylor {
    background-image: url("../img/staff/taylor.jpg");
}

.card-image-milton {
    background-image: url("../img/staff/new/milton.jpg");
}

.card-image-marco-gamino {
    background-image: url("../img/staff/new/marco-gamino.jpg");
}

/* Chico */
.card-image-ryan-evans {
    background-image: url("../img/staff/new/ryan-evans.jpg");
}

.card-image-james-dunn {
    background-image: url("../img/staff/new/james-dunn.jpg");
}

/* Fresno */
.card-image-kevin-chambers {
    background-image: url("../img/staff/kevin-chambers.jpg");
}

.card-image-mandy-magill {
    background-image: url("../img/staff/new/mandy-magill.jpg");
}

.card-image-brad-opitz {
    background-image: url("../img/staff/brad-opitz.jpg");
}

.card-image-brady-g {
    background-image: url("../img/staff/brady-guzman.jpg");
}

.card-image-allyn-s {
    background-image: url("../img/staff/new/allyn-shadowens.jpg");
}

.card-image-hunter-c {
    background-image: url("../img/staff/new/hunter-cabrel.jpg");
}

.card-image-dan-a {
    background-image: url("../img/staff/new/dan-acosta.jpg");
}

.card-image-chris-m {
    background-image: url("../img/staff/new/chris-medrano.jpg");
}

.card-image-rob-petty {
    background-image: url("../img/staff/new/rob-petty.jpg");
}

.card-image-marc-m {
    background-image: url("../img/staff/new/marc-magill.jpg");
}

/* Hayward */
.card-image-rick-g {
    background-image: url("../img/staff/rick-g.jpg");
}

.card-image-mary-m {
    background-image: url("../img/staff/mary-m.jpg");
}

.card-image-jesse-guadamuz {
    background-image: url("../img/staff/new/jesse-guadamuz.jpg");
}

.card-image-scott-s {
    background-image: url("../img/staff/scott-s.jpg");
}

.card-image-j-sockol {
    background-image: url("../img/staff/Jim Sockol.jpg");
}

.card-image-scott-smith {
    background-image: url("../img/staff/new/scott-smith.jpg");
}

.card-image-bob-alveraz {
    background-image: url("../img/staff/new/robert-alvarez.jpg");
}

/* Manteca */

.card-image-roger-h {
    background-image: url("../img/staff/new/roger-hamilton.jpg");
}

.card-image-tiffany-m {
    background-image: url("../img/staff/tiffany.jpg");
}

.card-image-romiro-c {
    background-image: url("../img/staff/new/romiro.jpg");
}

.card-image-bart-t {
    background-image: url("../img/staff/bart.jpg");
}

.card-image-dave-m {
    background-image: url("../img/staff/new/dave-moore.jpg");
}

.card-image-mathew-o {
    background-image: url("../img/staff/matthew-ortiz.jpg");
}

.card-image-paul-n {
    background-image: url("../img/staff/new/paul-nehring.jpg");
}

.card-image-david-f {
    background-image: url("../img/staff/Dave Foster.jpg");
}

.card-image-mike-grove {
    background-image: url("../img/staff/new/mike-grove.jpg");
}

/* Oakley */

.card-image-richie-a {
    background-image: url("../img/staff/new/richie-aliotti.jpg");
}

.card-image-mo-y {
    background-image: url("../img/staff/new/mo-yosuff - 1.jpg");
}

.card-image-jeff-f {
    background-image: url("../img/staff/new/jeff-franks.jpg");
}

.card-image-misty-w {
    background-image: url("../img/staff/misty_w.jpg");
}

.card-image-shannon-g {
    background-image: url("../img/staff/shannon.jpg");
}

.card-image-joe-a {
    background-image: url("../img/staff/new/joe-aliotti.jpg");
}

.card-image-dj {
    background-image: url("../img/staff/DJ.jpg");
}

.card-image-j-burgess {
    background-image: url("../img/staff/new/jim-burgess.jpg");
}

/* Redwood City */

.card-image-fernando-v {
    background-image: url("../img/staff/new/fernando-valdez.jpg");
}

.card-image-alan-n {
    background-image: url("../img/staff/new/alan-nelson.jpg");
}

.card-image-jake-p {
    background-image: url("../img/staff/jake.jpg");
}

.card-image-jon-d {
    background-image: url("../img/staff/jon-drake.jpg");
}

.card-image-miguel-b {
    background-image: url("../img/staff/new/miguel-barriga.jpg");
}

.card-image-rory-g {
    background-image: url("../img/staff/new/rory-gamblin.jpg");
}

.card-image-bobby-g {
    background-image: url("../img/staff/bobby.jpg");
}

.card-image-boris-c {
    background-image: url("../img/staff/new/boris-mira.jpg");
}

.card-image-les-s {
    background-image: url("../img/staff/les-sharp.jpg");
}

.card-image-tony-nagata {
    background-image: url("../img/staff/Tony Nagata.jpg");
}

.card-image-g-chavez {
    background-image: url("../img/staff/Gabe.jpg");
}

.card-image-nacho {
    background-image: url("../img/staff/Nacho.jpg");
}

.card-image-vanessa-d {
    background-image: url("../img/staff/vanessa-diricco.jpg");
}

.card-image-michael-jordan {
    background-image: url("../img/staff/new/michael-jordan.jpg");
}

.card-image-mike-jones {
    background-image: url("../img/staff/new/mike-jones.jpg");
}

/* Sacramento */

.card-image-bob-barstad {
    background-image: url("../img/staff/new/bob-barstad.jpg");
}

.card-image-daniel-f {
    background-image: url("../img/staff/daniel-franey.jpg");
}

.card-image-tom-m {
    background-image: url("../img/staff/new/tom-mccloskey - 3.jpg");
}

.card-image-leilana-b {
    background-image: url("../img/staff/leilana-becker.jpg");
}

.card-image-ed-b {
    background-image: url("../img/staff/ed-bearby.JPG");
}

.card-image-daniel-v {
    background-image: url("../img/staff/new/danny-velazquez.jpg");
}

.card-image-jon-denham {
    background-image: url("../img/staff/new/jon-denham.jpg");
}

.card-image-jack-b {
    background-image: url("../img/staff/jack-becker.jpg");
}

.card-image-sandi-w {
    background-image: url("../img/staff/new/sandi-watts.jpg");
}

.card-image-amy-b {
    background-image: url("../img/staff/amy-b.jpg");
}

.card-image-juan-v {
    background-image: url("../img/staff/juan-valdez.jpg");
}

.card-image-curtis-nelson {
    background-image: url("../img/staff/new/curtis-nelson.jpg");
}

/* Salinas */

.card-image-max-y {
    background-image: url("../img/staff/max.jpg");
}

.card-image-adam-m {
    background-image: url("../img/staff/new/adam-miller.jpg");
}

.card-image-bob-barth {
    background-image: url("../img/staff/new/bob-bartholomew.jpg");
}

.card-image-kristi-g {
    background-image: url("../img/staff/new/kristi-gribbin.jpg");
}

.card-image-andrea-b {
    background-image: url("../img/staff/new/andrea-barela.jpg");
}

/* San Jose Fusion */

.card-image-paul-h {
    background-image: url("../img/staff/new/paul-harrington.jpg");
}

.card-image-murray-s {
    background-image: url("../img/staff/murray-sullivan.jpg");
}

.card-image-glen-g {
    background-image: url("../img/staff/new/glen-gates.jpg");
}

.card-image-jimmy-l {
    background-image: url("../img/staff/new/jimmy-lamaack.jpg");
}

.card-image-tony-v {
    background-image: url("../img/staff/new/tony-ventura.jpg");
}

.card-image-mario-p {
    background-image: url("../img/staff/new/mario-puente.png");
}

.card-image-hector-s {
    background-image: url("../img/staff/hector.jpeg");
}

.card-image-manuel-g {
    background-image: url("../img/staff/new/manual-garcia.jpg");
}

.card-image-daniel-i {
    background-image: url("../img/staff/daniel-i.jpg");
}

.card-image-alyx-d {
    background-image: url("../img/staff/alyx.jpg");
}

.card-image-kelly-e {
    background-image: url("../img/staff/Kelly Eoff.jpg");
}

.card-image-jeanette-g {
    background-image: url("../img/staff/new/jeanette-garcia.jpg");
}

/*San Jose */
.card-image-raul-s {
    background-image: url("../img/staff/raul.jpg");
}

.card-image-chuck-h {
    background-image: url("../img/staff/new/chuck-hill.jpg");
}

.card-image-david-h {
    background-image: url("../img/staff/david-h.jpg");
}

.card-image-jeff-w {
    background-image: url("../img/staff/new/jeff-white.jpg");
}

.card-image-joe-f {
    background-image: url("../img/staff/joe-f.jpg");
}

.card-image-lane-d {
    background-image: url("../img/staff/new/lane-dore.jpg");
}

.card-image-nancy-d {
    background-image: url("../img/staff/new/nancy-dore.jpg");
}

.card-image-carey-m {
    background-image: url("../img/staff/carey-m.jpg");
}

.card-image-ken-s {
    background-image: url("../img/staff/ken-s.jpg");
}

.card-image-m-gonzales {
    background-image: url("../img/staff/new/mike-gonzales.jpg");
}

.card-image-al-m {
    background-image: url("../img/staff/new/al-mendoza.jpg");
}

.card-image-oscar-h {
    background-image: url("../img/staff/oscar-h.jpg");
    background-position: center;
}

.card-image-rudy-m {
    background-image: url("../img/staff/rudy-m.jpg");
}

.card-image-kacy-n {
    background-image: url("../img/staff/new/kacy-ngo.jpg");
}

.card-image-jon-cruz {
    background-image: url("../img/staff/new/jonathan-cruz.jpg");
}

.card-image-rick-rodriguez {
    background-image: url("../img/staff/new/rick-rodriguez.jpg");
}

/* Corp */

.card-image-reed-m {
    background-image: url("../img/staff/reed.jpg");
}

.card-image-tom-g {
    background-image: url("../img/staff/new/tom-gribbin.jpg");
}

.card-image-chris-j {
    background-image: url("../img/staff/new/chirs-jacobsen.jpg");
}

.card-image-peggy-s {
    background-image: url("../img/staff/peggy-stockwell.jpg");
}

.card-image-kurt-v {
    background-image: url("../img/staff/new/kurt-vincelette.jpg");
}

.card-image-obie-g {
    background-image: url("../img/staff/new/obie-gomez.jpg");
}

.card-image-bryan-f {
    background-image: url("../img/staff/Bryan.jpg");
}

.card-image-felisha-elmore {
    background-image: url("../img/staff/new/felisha-elmore.jpg");
}

.card-image-wendy-b {
    background-image: url("../img/staff/Wendy.jpg");
}

.card-image-crystal-garcia {
    background-image: url("../img/staff/new/crystal-garcia.jpg");
}

.card-image-dave-d {
    background-image: url("../img/staff/new/dave-drake.jpg");
}

.card-image-tony-h {
    background-image: url("../img/staff/tony-han.jpg");
}

.card-image-nate-s {
    background-image: url("../img/staff/new/nate-scott.jpg");
}

.card-image-irvin-c {
    background-image: url("../img/staff/new/irvin-cano.jpg");
}

.card-image-izzy-rivas {
    background-image: url("../img/staff/new/izzy-rivas.jpg");
}

.card-image-josh-c {
    background-image: url("../img/staff/new/josh-coyne.jpg");
}

.card-image-trina-s {
    background-image: url("../img/staff/trina-scott.jpg");
}

.card-image-alin-v {
    background-image: url("../img/staff/new/alin.jpg");
}

.card-image-mickey-p {
    background-image: url("../img/staff/mickey-p.jpg");
}

.card-image-mae-famatid {
    background-image: url("../img/staff/new/mae-famatid.jpg");
}

.card-image-carol-b {
    background-image: url("../img/staff/carol-b.jpg");
}

.card-image-laura-z {
    background-image: url("../img/staff/new/laura-zavala.jpg");
}

.card-image-linda-r {
    background-image: url("../img/staff/new/linda-ruiz.jpg");
}

.card-image-jessica-m {
    background-image: url("../img/staff/new/jessica-mendoza.jpg");
}

.card-image-monica-g {
    background-image: url("../img/staff/monica.jpg");
}

.card-image-esly-v {
    background-image: url("../img/staff/esly.jpg");
}

.card-image-verenis-figueroa {
    background-image: url("../img/staff/new/verenis-figueroa.jpg");
}

.card-image-lisa-l {
    background-image: url("../img/staff/new/lisa-lamaack.jpg");
}

.card-image-blair-m {
    background-image: url("../img/staff/new/blair-minor.jpg");
}

.card-image-shelley-a {
    background-image: url("../img/staff/new/shelley-anderson.jpg");
}

/* Santa Rosa */

.card-image-lorrie-d {
    background-image: url("../img/staff/lorrie-d.jpg");
}

.card-image-sandy-cline {
    background-image: url("../img/staff/new/sandy-cline.jpg");
}

.card-image-brad-r {
    background-image: url("../img/staff/new/brad-rugg.jpg");
}

.card-image-jesse-l {
    background-image: url("../img/staff/jesse.jpg");
}

.card-image-hal-mapes {
    background-image: url("../img/staff/new/hal-mapes.jpg");
}