.card-image-small-diameter {
  background-image: url("../img/training/small diameter training-3.jpg");
}
.card-image-medium-diameter {
  background-image: url("../img/training/Medium Diameter Training-9.jpg");
}
.card-image-large-diameter {
  background-image: url("../img/training/large-diameter.jpg");
}
.card-image-fusion-inspection {
  background-image: url("../img/training/Inspection Class.jpg");
}




