// Colors

$primary: #0033a0; //RB Blue
$secondary: #FF530D; //Orange
$tertiary: #AD2B11; //Red
$accent: #4B6D0B; //Dark Green
$accent-2: #9FEC0C; //Light Green
$black: #111820; //Black
$link: lighten( $tertiary,10%);
// $hover: $tertiary;


// // Typefaces

$sans-serif: 'Lato', sans-serif;
$sans-thin: 'Lato 100', sans-serif;
$sans-regular: 'Lato 400', sans-serif;
$sans-bold: 'Lato 600', sans-serif;


$serif: 'Roboto Slab', serif;
$serif-thin: 'Roboto Slab 300', serif;
$serif-bold: 'Roboto Slab 600', serif;

$li-padding: 5px;


$animation-delay: .7s;

@mixin border-radius($radius){
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

/* BREAKPOINT MIXINS */
@mixin bp-small {
  @media(min-width: 480px) {
    @content;
  }
}

@mixin bp-normal {
  @media(min-width: 960px) {
    @content;
  }
}
