// Colors
$primary: rgb(0,51,160);
$secondary: #082053;
$action: #AD2B11;
$black: #111820;
$lb: rgb(34,34,34);
$accent: #4B6D0B;
$lg: #9FEC0C;
$link: $action;
$hover: lighten($action,10);

// // Typefaces

$sans-serif: 'Open Sans', sans-serif;
$sans-thin: 'Open Sans 300', sans-serif;
$sans-bold: 'Open Sans 600', sans-serif;


$serif: 'Roboto slab', serif;
$serif-regular: 'Roboto slab 400', serif;
$serif-bold: 'Roboto slab 700', serif;

$li-padding: 5px;


$animation-delay: .7s;

@mixin border-radius($radius){
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

/* BREAKPOINT MIXINS */
@mixin bp-small {
  @media(min-width: 480px) {
    @content;
  }
}

@mixin bp-normal {
  @media(min-width: 960px) {
    @content;
  }
}
