.btn {
  background-color: $link;
  border: 1px solid #cccccc;
  color: white;
  padding: 0.5rem;
  text-transform: uppercase;
}
.btn-block {
  display: block;
  width: 100%;
}
.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;

  figure {
    margin: 0;
  }

  a {
    margin: 2%;
  }
}
.cards-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
}
@media (min-width: 40rem) {
  .cards-item {
    width: 50%;
  }
}
@media (min-width: 56rem) {
  .cards-item {
    width: 33.3333%;
  }
}

.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}
.card:hover .card-image {
  -webkit-filter: contrast(100%);
          filter: contrast(100%);
}
.card-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem;
}
.card-image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-filter: contrast(70%);
          filter: contrast(70%);
  position: relative;
  -webkit-transition: -webkit-filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
  transition: -webkit-filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
  transition: filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
  transition: filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91), -webkit-filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
}
.card-image::before {
  content: "";
  display: block;
  padding-top: 56.25%;
}
@media (min-width: 40rem) {
  .card-image::before {
    padding-top: 66.6%;
  }
}
.card-title {
  color: #696969;
  font-size: 2rem;
  text-align: center;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
}
  h1.card-title {
    margin-bottom: 0;
    line-height:1.25;
  }
// .training.card-title {
//   margin-bottom: 0;
//   line-height: 1.25;
// }
.card-subtitle {
  color: #696969;
  font-size: 1.5rem;
  text-align: center;
  font-weight: 300;
  letter-spacing: 2px;
  // text-transform: uppercase;
}
.card-text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  // font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
}




