/* Card Images */
.card-image-waterworks {
  background-image: url("../img/product/valves.jpg");
}
.card-image-fire-protection {
  background-image: url("../img/product/fire-protection.jpg");
}
.card-image-fusion {
  background-image: url("../img/product/rentals.jpg");
}
.card-image-backflow {
  background-image: url("../img/product/backflow.jpg");
}
.card-image-boxes {
  background-image: url("../img/product/lid-water.jpg");
}
.card-image-couplings {
  background-image: url("../img/product/backflow.jpg");
}
.card-image-custom-fab {
  background-image: url("../img/product/custom-fab.jpg");
}
.card-image-drains {
  background-image: url("../img/product/backflow.jpg");
}
.card-image-fire-protection {
  background-image: url("../img/product/fire-protection.jpg");
}
.card-image-fittings {
  background-image: url("../img/product/backflow.jpg");
}
.card-image-guages {
  background-image: url("../img/product/backflow.jpg");
}
.card-image-hydrants {
  background-image: url("../img/product/hydrants.jpg");
}
.card-image-manholes {
  background-image: url("../img/product/backflow.jpg");
}
.card-image-paints {
  background-image: url("../img/product/backflow.jpg");
}
.card-image-pipe {
  background-image: url("../img/product/blue-pipe.jpg");
}
.card-image-pumps {
  background-image: url("../img/product/backflow.jpg");
}
.card-image-rentals {
  background-image: url("../img/product/rentals.jpg");
}
.card-image-service-brass {
  background-image: url("../img/product/service-saddle.jpg");
}
.card-image-valves {
  background-image: url("../img/product/valves.jpg");
}
.card-image-meters {
  background-image: url("../img/product/backflow.jpg");
}
.card-image-small-diameter {
  background-image: url("../img/training/small diameter training-9.jpg");
}
.card-image-medium-diameter {
  background-image: url("../img/training/Irvin.jpg");
}
.card-image-large-diameter {
  background-image: url("../img/training/large-diameter.jpg");
}
.card-image-fusion-inspection {
  background-image: url("../img/training/inspection.jpg");
}






