/* Card Images Home Page */

.card-image-waterworks {
  background-image: url("../img/product/valves.jpg");
}
.card-image-fire-protection {
  background-image: url("../img/product/fire-protection.jpg");
}
.card-image-fusion {
  background-image: url("../img/product/rentals.jpg");
}

/* End Home */

/* Products Page Images */
.card-image-backflow {
  background-image: url("../img/product/backflow.jpg");
}
.card-image-cathodic {
  background-image: url("../img/product/cathodic.jpg");
}
.card-image-clamps-couplings {
  background-image: url("../img/product/couplings.jpg");
}
// .card-image-drains {
//   background-image: url("../img/product/.jpg");
// }
.card-image-enclosures {
  background-image: url("../img/product/enclosure.jpg");
}
.card-image-fire-protection {
  background-image: url("../img/product/fire-protection.jpg");
}
// .card-image-fittings {
//   background-image: url("../img/product/.jpg");
// }
// .card-image-pe-pipe-fittings {
//   background-image: url("../img/product/.jpg");
// }
.card-image-hydrants {
  background-image: url("../img/product/hydrants.jpg");
}
.card-image-manholes {
  background-image: url("../img/product/manhole.jpg");
}
// .card-image-meters {
//   background-image: url("../img/product/backflow.jpg");
// }
.card-image-pipe-tube {
  background-image: url("../img/product/blue-pipe.jpg");
}
// .card-image-pumps {
//   background-image: url("../img/product/.jpg");
// }
.card-image-service-brass {
  background-image: url("../img/product/service-saddle.jpg");
}
.card-image-tools {
  background-image: url("../img/product/tools.jpg");
}
.card-image-boxes {
  background-image: url("../img/product/meter-box.jpg");
}
.card-image-valves {
  background-image: url("../img/product/valves.jpg");
}
// .card-image-wt {
//   background-image: url("../img/product/backflow.jpg");
// }
.card-image-misc {
  background-image: url("../img/product/misc.jpg");
}


/* Rentals Page */
.card-image-2lc {
  background-image: url("../img/rentals/2lc-fusion-machine.jpg");
}
.card-image-14-pitbull {
  background-image: url("../img/rentals/14 Pitbull.jpg");
}
.card-image-28-rolling {
  background-image: url("../img/rentals/28 rolling.jpg");
}
.card-image-412-rolling {
  background-image: url("../img/rentals/412 rolling.jpg");
}
.card-image-618-rolling {
  background-image: url("../img/rentals/618 rolling.jpg");
}
.card-image-500-tracstar {
  background-image: url("../img/rentals/tracstar 500.jpg");
}
.card-image-900-tracstar {
  background-image: url("../img/rentals/tracstar 900.jpg");
}
.card-image-datalogger {
  background-image: url("../img/rentals/datalogger6_wet.jpg");
}
.card-image-pyrometer {
  background-image: url("../img/rentals/Digital Pyrometer.jpg");
}
.card-image-4-deabing {
  background-image: url("../img/rentals/R&L 4 Inch Trimmer Head.jpg");
}
.card-image-6-deabing {
  background-image: url("../img/rentals/R&L 6 Inch Trimmer Head.jpg");
}
.card-image-8-deabing {
  background-image: url("../img/rentals/R&L 8 Inch Trimmer Head.jpg");
}
.card-image-10-deabing {
  background-image: url("../img/rentals/R&L 10 Inch Trimmer Head.jpg");
}
.card-image-12-deabing {
  background-image: url("../img/rentals/R&L 12 Inch Trimmer Head.jpg");
}
.card-image-16-deabing {
  background-image: url("../img/rentals/R&L 16 - 24 Trimmer Head.jpg");
}
.card-image-24-deabing {
  background-image: url("../img/rentals/R&L 24 Inch Trimmer Head.jpg");
}
.card-image-diffuser {
  background-image: url("../img/rentals/Diffuser.jpg");
}
.card-image-super-dechlor {
  background-image: url("../img/rentals/Superdechlorinator Kit.png");
}
.card-image-scraper {
  background-image: url("../img/rentals/Ipex FWSG 710 Scraper Tool.jpeg");
}
.card-image-top-loader {
  background-image: url("../img/rentals/Ipex 228053 Top Loading Tool.jpg");
}
.card-image-ef-machine {
  background-image: url("../img/rentals/Ipex Genesis F3 EF Machine.png");
}
.card-image-gens {
  background-image: url("../img/rentals/Portable Generator.png");
}
.card-image-4-hole-saw {
  background-image: url("../img/rentals/hole saws.jpg");
}
.card-image-6-hole-saw {
  background-image: url("../img/rentals/hole saws.jpg");
}
.card-image-8-hole-saw {
  background-image: url("../img/rentals/hole saws.jpg");
}
.card-image-testpump {
  background-image: url("../img/rentals/Hydrostatic Test Pump RHTP.jpg");
}


/* Card Images */
.card-image-hdpe-pipe {
  background-image: url("../img/product/hdpe-pipe.jpg");
}
.card-image-mdpe {
  background-image: url("../img/product/mdpe-pipe.jpg");
}
.card-image-equip {
  background-image: url("../img/product/BeadTrimmer_8-24inch.png");
}
.card-image-fusion {
  background-image: url("../img/product/rentals.jpg");
}
.card-image-training {
  background-image: url("../img/training/Medium Diameter Training-2.jpg");
}
.card-image-service {
  background-image: url("../img/product/tech.jpg");
}
.card-image-small-diameter {
  background-image: url("../img/training/small diameter training-3.jpg");
}
.card-image-medium-diameter {
  background-image: url("../img/training/Medium Diameter Training-10.jpg");
}
.card-image-large-diameter {
  background-image: url("../img/training/large-diameter.jpg");
}
.card-image-fusion-inspection {
  background-image: url("../img/training/Medium Diameter Training-5.jpg");
}






