.inner-hero {
	@include full;
	background-color: $black;
	position:relative;
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center center;
	min-height:300px;
	height:350px;
	@include breakpoint($large) {
		height: 500px;
	}
	h1 {
		position:absolute;
		bottom: 0;
		left:5%;
		color: lighten($black,90);
	}
}

#handbook-hero {
	background-image: url("../img/hero/handbook.jpg");
}
#resources-hero {
	background-image: url("../img/hero/resources.jpg");
}
#profiles-hero {
	background-image: url("../img/hero/profiles.jpg");
}
#staff-hero {
	background-image: url("../img/hero/staff-hero.jpg");
}
#c-accounts-hero {
	background-image: url("../img/hero/customer-accounts.jpg");
}
#history-hero {
	background-image: url("../img/hero/rb-history.jpg");
}
#contact-hero {
	background-image: url("../img/hero/contact-us.jpg");
}
#submital-hero {
	background-image: url("../img/hero/Submittals.png");
}
#app-hero {
	background-image: url("../img/hero/mobile-app.jpg");
}
#rental-hero {
	background-image: url("../img/hero/t630.jpg");
}
#vendors-hero {
	background-image: url("../img/hero/sf-arteries.jpg");
}
#videos-hero {
	background-image: url("../img/hero/blue-pipe.jpg");
}
#a-links-hero {
	background-image: url("../img/hero/yellow-hydrants.jpg");
}
#user-agreement-hero {
	background-image: url("../img/hero/Gilroy Heartlands-2.jpg");
}
#associations-hero {
	background-image: url("../img/hero/association.jpg");
}
#emergency-hero {
	background-image: url("../img/hero/emergency.jpg");
}
#checkout-hero {
	background-image: url("../img/hero/checkout.jpg");
}