.inner-hero {
	@include full;
	background-color: $black;
	position:relative;
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center center;
	min-height:300px;
	height:350px;
	@include breakpoint($large) {
		height: 500px;
	}
	h1 {
		position:absolute;
		bottom: 0;
		left:5%;
		color: lighten($black,90);
	}
}
// #home-hero {
// 	background-image: url("../img/hero/home-banner.jpg");
// }
// #locations-hero {
// 	background-image: url("../img/hero/map.svg");
// }
#staff-hero {
	background-image: url("../img/hero/Nicholas Construction - Drought Relief.jpg");
}
#history-hero {
	background-image: url("../img/hero/rb-history.jpg");
}
#contact-hero {
	background-image: url("../img/hero/contact-us.jpg");
}
#submital-hero {
	background-image: url("../img/hero/Submittals.png");
}
#app-hero {
	background-image: url("../img/hero/mobile-app.jpg");
}
#rental-hero {
	background-image: url("../img/hero/t900-fusion-machine.jpg");
}