.icon-link {
  width: 50px;
  height: 50px;
  background-color: #666;
  line-height: 50px;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  cursor: pointer;
  outline: none;
  margin: 5px;
  box-sizing: content-box;
}
.icon-link.fill.facebook {
  background-color: $link;
}
.icon-link.fill.facebook:hover {
  background-color: #fff;
}
.icon-link.fill.facebook:hover .fa-facebook {
  color: #3b5998;
  -webkit-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
}

.icon-link.fill.linkedin {
  background-color: $link;
}
.icon-link.fill.linkedin:hover {
  background-color: #fff;
}
.icon-link.fill.linkedin:hover .fa-linkedin {
  color: #007bb6;
  -webkit-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
}
.icon-link.fill.twitter {
  background-color: $link;
}
.icon-link.fill.twitter:hover {
  background-color: #fff;
}

.icon-link.fill.twitter:hover .fa-twitter {
  color: #00aced;
  -webkit-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
}

.icon-link.fill.youtube {
  background-color: $link;
}
.icon-link.fill.youtube:hover {
  background-color: #fff;
}
.icon-link.fill.youtube:hover .fa-youtube {
  color: #df1c31;
  -webkit-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
}
.icon-link.fill.yelp {
  background-color: $link;
}
.icon-link.fill.yelp:hover {
  background-color: #fff;
}
.icon-link.fill.yelp:hover .fa-yelp {
  color: #df1c31;
  -webkit-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
}

.icon-link.brand {
  background-color: #fff;
}
.icon-link.brand .fa {
  color: #006FC2;
}
.icon-link.round {
  border-radius: 50%;
}

// .icon-link:hover {
//   -webkit-transition: background-color 150ms ease-in-out;
//   transition: background-color 150ms ease-in-out;
//   height: 56px;
//   line-height: 56px;
//   width: 56px;
//   background-color: #fff;
// }
// .icon-link:hover.facebook {
//   border: 2px solid #3b5998;
// }

// .icon-link:hover.linkedin {
//   border: 2px solid #007bb6;
// }
// .icon-link:hover.twitter {
//   border: 2px solid #00aced;
// }

// .icon-link:hover.youtube {
//   border: 2px solid #df1c31;
// }

// .icon-link:hover .fa {
//   line-height: 56px;
// }
// .icon-link:hover .fa-facebook {
//   color: #3b5998;
//   -webkit-transition: color 150ms ease-in-out;
//   transition: color 150ms ease-in-out;
// }

// .icon-link:hover .fa-linkedin {
//   color: #007bb6;
//   -webkit-transition: color 150ms ease-in-out;
//   transition: color 150ms ease-in-out;
// }
// .icon-link:hover .fa-twitter {
//   color: #00aced;
//   -webkit-transition: color 150ms ease-in-out;
//   transition: color 150ms ease-in-out;
// }

// .icon-link:hover .fa-youtube {
//   color: #df1c31;
//   -webkit-transition: color 150ms ease-in-out;
//   transition: color 150ms ease-in-out;
// }

.icon-link .fa {
  color: #fff;
  line-height: 50px;
  font-size: 36px;
}

.brand-icons {
  background-color: #ddd;
  padding: 10px 0;
}
